<!-- templates/courses/student_page.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<header class="navbar navbar-dark bg-primary">
    <div class="container">
        <span class="navbar-brand mb-0 h1">STUDENT</span>
        <div>
<!--            <a href="{% url 'profile' %}" class="btn btn-outline-light">Profile</a>-->
            <a href="{% url 'logout' %}" class="btn btn-outline-light">Logout</a>
        </div>
    </div>
</header>

<main class="container mt-5">
    <h1>Добро пожаловать, {{ user.username }}</h1>
    <h2>Ваши курсы</h2>
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

</body>
</html>
